__pycache__/
.DS_Store
data/raw/
pml.sif
pml2.sif
data/dataset_2/102flowers
validation/test1
validation/test2
validation/test3
validation/test_prototyp19
validation/test_prototyp20
validation/test_prototyp21
